{% load static %}
<!doctype html>
<html>
<head>
    <title>Web App Template</title>
    <meta name="description" content="A webpage">
    <meta name="keywords" content="html template">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<h1>Hello World</h1>

<div class="container">
    <h2>Private Upload</h2>
    <img width="400px" src="{{ file_upload.private_upload.url }}" />
    <p>This file has a signed url that expires</p>
    <p>{{ file_upload.private_upload.url }}</p>
</div>

<div class="container">
    <h2>Public Upload</h2>
    <img width="400px" src="{{ file_upload.public_upload.url }}" />
    <p>This file has a public url that is always accessible</p>
    <p>{{ file_upload.public_upload.url }}</p>
</div>

</body>
</html>